<div class='contents'>
  <br>
  <h2>新規ユーザー登録</h2>
    <br>
  <div class="contents-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %> (10 characters maximum)<br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "10" %>
      </div>
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit " 登録 ", class: 'btn btn-outline-secondary' %>
      </div>
    <% end %>
  </div>
  <br>
</div>
