<div class='contents'>
  <%= form_tag("/outgoings/#{@outgoing.id}", method: :patch ) do %>
    <h3>
      編集する
    </h3>
    <p>品目</p>
    <input name="item" type="string" rows="10" value="<%= @outgoing.item %>" class="form-control">
    <p>金額</p>
    <input name="price" type="integer" rows="10" value="<%= @outgoing.price %>" class="form-control">
    <p>購入場所</p>
    <input name="place" type="string" rows="10" value="<%= @outgoing.place %>" class="form-control">
    <p>購入日</p>
    <input name="date" type="date" rows="10" value="<%= @outgoing.date %>" class="form-control">
    <br>
    <input type="submit" value="更新" class="btn btn-primary">
  <% end %> 
</div>