<div class='contents'>
  <br>
  <br>
  <div class="index-search">
    <%= search_form_for @q do |f| %>
      <%= f.label :item_or_place, "　キーワード " %>
      <%= f.search_field :item_or_place_cont %>
      <%= f.label :price, "　　　金額 " %>
      <%= f.number_field :price_gteq %> 円以上〜
      <%= f.number_field :price_lt %> 円未満　　
      <%= f.submit " 検索 ", class: 'btn btn-outline-secondary' %>
    <% end %>
  </div>

  <br>
  <br>
  <div class="list-group">
    <% if @outgoings.present? %>
      <% @outgoings.order(date: :DESC).each do |outgoing| %>
        <div class="list-group-item list-group-item-action">
        品目： <%= outgoing.item %><br>
        金額： <%= outgoing.price %>円<br>
        購入場所： <%= outgoing.place %><br>
        購入日： <%= outgoing.date %>
          <div class="btn-group" id="index-btn" role="group" aria-label="Basic example">
            <%= link_to '詳細', "/outgoings/#{outgoing.id}", class: 'btn btn-secondary' %>
            <%= link_to '編集', "/outgoings/#{outgoing.id}/edit", class: 'btn btn-secondary' %>
            <%= link_to '削除', "/outgoings/#{outgoing.id}", method: :delete, class: 'btn btn-secondary', data: {confirm: '支出を削除します。よろしいですか？'} %>
          </div>
        </div>
      <% end %>
      <%= paginate(@outgoings) %>
    <% else %>
      <p>検索結果がありません。</p>
    <% end %>
  </div>
  <br>
</div>
