  <div class="contents row" >
    <% @outgoings.each do |outgoing| %>
      <p>品目： <%= outgoing.item %></p>
      <p>金額： <%= outgoing.price %>円</p>
      <p>購入場所： <%= outgoing.place %></p>
      <p>購入日： <%= outgoing.date %></p>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '詳細', "/outgoings/#{outgoing.id}", method: :get %>
          </li>
          <li>
            <%= link_to '編集', "/outgoings/#{outgoing.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/outgoings/#{outgoing.id}", method: :delete %>
          </li>
        </ul>
      </div>
      <hr>
    <% end %>
  </div>

